{% extends "basepro.html" %}

{% block body %}

{% load static %}
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Tableau de bord </h3>
              <div class="download">
                <button>
                  <i class="mdi mdi-download"></i>
                  <h5>Télécharger le rapport</h5>
                </button>
              </div>
            </div>
          </div>
          <iframe title="Report Section" width="1220" height="1373.5" src="https://app.powerbi.com/view?r=eyJrIjoiZTlkMmYxMjAtN2ZkMS00OWZlLWE4YTQtZGY0ZGZiNmQ1ZjJhIiwidCI6ImE5ZmYwM2Q5LWMyNzMtNDdlZi05MmRkLTgzZjM5M2E4MzBhNiJ9&pageName=ReportSection462bc0b8987db68f471e" frameborder="0" allowFullScreen="true"></iframe>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          
{% endblock body %}