{% extends "basepro.html" %}

{% block body %}

{% load static %}
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Accueil </h3>
            </div>
            <div class="row">
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">18.03</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">millions</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-account-multiple"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Population totale</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">3.4</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">millions</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-flower"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Hectares cultivées</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">1.49</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">millions de tonnes</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-import"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Importation de riz</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">908628</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">soit 45.6%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-account-multiple"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Ménages qui ont une activité agricole</h6>
                  </div>
                </div>
              </div>
            </div>

            <iframe title="Report Section" width="1220" height="1373.5" src="https://app.powerbi.com/view?r=eyJrIjoiZTlkMmYxMjAtN2ZkMS00OWZlLWE4YTQtZGY0ZGZiNmQ1ZjJhIiwidCI6ImE5ZmYwM2Q5LWMyNzMtNDdlZi05MmRkLTgzZjM5M2E4MzBhNiJ9&pageName=ReportSection462bc0b8987db68f471e" frameborder="0" allowFullScreen="true"></iframe>
            

          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->

{% endblock body %}
          